.hvox {
    -fx-background-color: gold;
}
.vbox1 {
	-fx-background-color: white;
	-fx-background-radius: 10;
}
.DetailPanel {
	-fx-background-color: azure;
}
.a_pane {
	-fx-background-color: #AAAAAA;
}
.outline {
	-fx-background-color: #006600;
	-fx-background-radius: 10;
}
.OperatePanel {
	-fx-font-size:20px;
}
.exeButton {
	-fx-background-radius: 40;
	-fx-background-color: #F03070;
}
.gameList {
	
}
.genreBox {
	-fx-background-color: yellow;
	-fx-background-radius:30 30 0 0;
}
.canvas {
	-fx-background-color: silver;
	-fx-background-radius:40;
	
}